.login-body{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top:0;
  background: #efefef;
  .login-wrap{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 20px;
    right: 20px;
    margin: auto;
    height: 300px;
    input,button{
      height: 30px;
      width: 300px;
      margin-top: 20px;
      border-radius: 6px;
    }
  }
}

