.score-wrap{
  padding: 20px 10px;
  padding-bottom: 50px;
  border: 1px solid #ccc;
}

.tips{
  color:red;
}

.selected-wrap{
  color:#333;
  font-size: 18px;
}

button{
  float: right;
}

.toast{
  position: fixed;
  left:0;
  right:0;
  margin: auto;
  width: 200px;
  height: 60px;
  line-height: 60px;
  top:0;
  bottom:0;
  background:red;
  color:#fff;
  border-radius: 6px;
  text-align: center;
}
.success{
  background: green;
}

.select-li{
  display: block;
  position: relative;
  .del-icon{
    position: absolute;
    display: block;
    right:20px;
    top: 0;
    width: 20px;
    height: 20px;
    background: url("/static/assets/imgs/icon-delete.png") no-repeat #fff;
    cursor: pointer;
  }
}

.msg-enter-active {
  transition: all .2s ease;
}
.msg-leave-active {
  transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}

.msg-enter, .msg-leave-active {
  opacity: 0;
}

div{
  border: 1px dotted #ccc;
}
